body {
  background-color: #e3dee5;
  text-align: center;
}

.purple{
  background-color: #5a39d3;
  height: 380px;
}

#survey-form{
  position:absolute;
  top:-150px;
  width:95%;
  background-color:#ffffff;
  padding:5%;
  text-align:left;
}

#comments{
    width:100%;
    height:50px;
    resize:vertical;
}

#title, #description{
    text-align:center;
}

#submit {
  background-color: #5a39d3;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 0 auto;
  border: 0px solid;
  display:block;
  text-align:center;
}

footer{
    text-align: center;
    position:relative;
    /*padding-bottom: 1200px;*/
    margin-top: 900px;
}

