body {
  background-color: #e3dee5;
  text-align: center;
<<<<<<< HEAD
=======
  /*font-family: 'Raleway', Helvetica, sans-serif;*/
  /*min-width: 320px;*/
>>>>>>> 3aed5bf7c7bc3b0c679de86aff956ff834fc55a7
}

.purple{
  background-color: #5a39d3;
  height: 380px;
}

#survey-form{
  position:absolute;
  top:-150px;
  width:95%;
  background-color:#ffffff;
  padding:5%;
  text-align:left;
}

<<<<<<< HEAD
=======

>>>>>>> 3aed5bf7c7bc3b0c679de86aff956ff834fc55a7
#comments{
    width:100%;
    height:50px;
    resize:vertical;
}

#title, #description{
    text-align:center;
}

/*.accentbanner{*/
/*    background-color:green;*/
/*    height:8px;*/
/*    display:block;*/
/*    width:inherit;*/
/*    left:auto;*/
/*    right:auto;*/
/*    margin:0;*/
/*    position:fixed;*/
/*    top:-158px;*/
/*}*/

#submit {
  background-color: #5a39d3;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 0 auto;
  border: 0px solid;
  display:block;
  text-align:center;
}

<<<<<<< HEAD
footer{
    text-align: center;
    position:relative;
    padding-bottom: 1200px;
}

=======
/*button{*/
/*    margin: 0 auto;*/
/*}*/
>>>>>>> 3aed5bf7c7bc3b0c679de86aff956ff834fc55a7
